kind: Secret
apiVersion: v1
metadata:
  name: gitlab-registry-auth
  namespace: multi-cloud
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: GITLAB_REGISTRY_AUTH
---
kind: Secret
apiVersion: v1
metadata:
  name: gitlab-repo-auth
  namespace: multi-cloud
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: GITLAB_REPO_AUTH
---
kind: Secret
apiVersion: v1
metadata:
  name: gitlab-access-token
  namespace: multi-cloud
stringData:
  accessToken: GITLAB_ACCESS_TOKEN
  user: openshift-token

