kind: Secret
apiVersion: v1
metadata:
  name: gitlab-registry-auth
  namespace: gitlab-auth
  annotations: 
    apps.open-cluster-management.io/deployables: "secret"
    secretname: gitlab-registry-auth
    secretgroup: gitlab-secret
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: GITLAB_REGISTRY_AUTH
---
kind: Secret
apiVersion: v1
metadata:
  name: gitlab-repo-auth
  namespace: gitlab-auth
  annotations: 
    apps.open-cluster-management.io/deployables: "secret"
    secretname: gitlab-repo-auth
    secretgroup: gitlab-secret
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: GITLAB_REPO_AUTH
---
kind: Secret
apiVersion: v1
metadata:
  name: gitlab-access-token
  namespace: gitlab-auth
  annotations: 
    apps.open-cluster-management.io/deployables: "secret"
    secretname: gitlab-access-token
    secretgroup: gitlab-secret
type: Opaque
stringData:
  accessToken: GITLAB_ACCESS_TOKEN
  user: openshift-token
---
kind: Secret
apiVersion: v1
metadata:
  name: gitlab-access-token
  namespace: multi-cloud
  annotations: 
    apps.open-cluster-management.io/deployables: "secret"
    secretname: gitlab-access-token
    secretgroup: gitlab-secret
type: Opaque
stringData:
  accessToken: GITLAB_ACCESS_TOKEN
  user: openshift-token

