apiVersion: v1
kind: Secret
metadata:
  name: gitlab-registry-auth
  namespace: multi-cloud
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: GITLAB_REGISTRY_AUTH
---
kind: Secret
apiVersion: v1
metadata:
  name: gitlab-repo-auth
  namespace: multi-cloud
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: GITLAB_REPO_AUTH

